
body {
    background-color: #e7f6ff;
}

div.title {
    width: 350px;
    text-align: center;
    background-color: #266583;
    border-radius: 10px;
    color: #ffffff;
    padding: 0.1px;
    margin-left: 380px;
    margin-right: auto;
}

div.haikei {
    background-color: #ffffff;
    text-align: center;
    height:auto;
    width:840px;
    border-radius: 10px;
    margin-left: 130px;
}

.margin {
    margin-left: 20px;
    margin-right: 1000px;
}

.table {
    height: 80px;
    width: 650px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left: 100px;
    border: 2px solid #266583;
}

.head {
    background-color: #e7f6ff;
    border-radius: 10px;
    border: 2px solid #000000;
}

img.map {
    text-align: left;
}

.flag {
    height: 100px;
    margin-left: 350px;
    margin-right: 1000px;
    margin-top: 10px;
}


.Cairo {
    position: absolute;
    left: 197px;
    top: 346px;
}
.Moscow {
    position: absolute;
    left: 228px;
    top: 238px;
}
.Johannesburg {
    position: absolute;
    left: 200px;
    top: 546px;
}
.Beijing {
    position: absolute;
    left: 440px;
    top: 308px;
}
.Tokyo {
    position: absolute;
    left: 509px;
    top: 329px;
}
.Singapore {
    position: absolute;
    left: 405px;
    top: 453px;
}
.Sydney {
    position: absolute;
    left: 544px;
    top: 571px;
}
.London {
    position: absolute;
    left: 116px;
    top: 250px;
}
.Paris {
    position: absolute;
    left: 122px;
    top: 275px;
}
.RiodeJaneiro {
    position: absolute;
    left: 1007px;
    top: 540px;
}
.NewYork {
    position: absolute;
    left: 928px;
    top: 308px;
}
.LosAngeles {
    position: absolute;
    left: 801px;
    top: 333px;
}
