
body {
    background-color: #e7f6ff;
    text-align: center;
}

.table {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 10px;
    margin-right: 10px;
}